
h1{
	color:LightSalmon ;
	margin:auto;    
	width: 50%;
    padding: 10px;
}
.row{
    display: flex;
}
.col{
    height:50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border: solid white;
}
.box{
	margin:auto;    
	width: 50%;
    padding: 10px;	
}
.bigBox{
	width:auto;
	height:auto;
}
