
h1{
	color:LightSalmon ;
	margin:auto;    
	width: 50%;
    padding: 10px;
}
.row{
    display: flex;
}
.col{
    text-align: center;
    border: solid white;
}
.box{
	display:table;
	margin:auto;    
	width: 50%;	
}
.bigBox{
	text-align: center;
}
