
h1{
	color:LightSalmon ;
	margin:auto;    
	width: 50%;
    padding: 10px;
    left:25%;top:10%;position:absolute;
}
.row{
    display: flex;
}
.col{
    height:50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border: solid white;
}
.box{
	left:25%;top:25%;position:absolute;
	margin:auto;    
	width: 50%;
    padding: 10px;	
}
